body {
    font-family: 'Nunito Sans', sans-serif;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    border-bottom: 1px solid #DEDEDE;
}
.menu-grid-icon {          /* Иконка корзинки */
    background-image: url(../images/cart-menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}
.dop-menu-grid-icon {          /* Иконка корзинки */
    background-image: url(../images/cart-menu.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
}
.header{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 68.5%;

}
.header-nav{
  display: flex;
  list-style-type: none;
  padding-left: 0;
  gap: 46px;
}
.header-nav a:hover{
    color: #FFC725;
}
.header-logo{
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-nav a{
    font-weight: 600;
    font-size: 20px;
    color: #443737;   
    text-decoration: none; 
}

.header-nav a.active::after{
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 1.5px;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}

.button{
    display: flex;
    align-items: center;
    background-color:transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-text{
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.button-item{
    position: relative;
}
.button-count{
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.bg{
    text-align: center;
    color: #FFFFFF;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
}
.breadcrumbs{
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover{
    color: #FFC725;
}
.breadcrumbs a::before {
    content: "/";
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before{
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title{
   font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.description {
    font-family: Open Sans;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box {
    background-image: url(../images/bg_2.png);
    margin-top: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    background-position: 0 center;
    max-height: 438px;
    padding: 100px 100px 121px;
    margin-bottom: 80px;
}

.banner-title {
    font-family: "Nunito Sans", sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 12px;
}
.banner-title span {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #F37335;
    border-radius: 14px;
    display: block;
    text-align: center;
    max-width: 95px;
    margin-bottom: 4px;
    padding: 5px 0;
} 
.banner-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FAF9F9;
    line-height: 23px;
    margin-bottom: 40px;
    max-width: 310px;
}
.banner-link {
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    color: #1E2F40;
    background-color:#FBB731;
    border-radius: 5px;
    text-transform: uppercase;
    width: 150px;
    padding: 18px 25px;
    line-height: 21px;
    border: 1px solid #FBB731;
    transition: 0.2s;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;

}
.menu {
    padding-top: 20px;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34px;
}
.menu-title {                        /* Заголовок основного меню  */
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1B2A49;
    margin-top: 0;
    margin-bottom: 0;
}
.menu-select {                          /* Выпадашка */
    border: 1px solid #DEDEDE;
    padding: 13px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    flex-basis: 279px;
    background-image: url(../images/errow.svg);
    background-repeat: no-repeat;
    background-size: 12.79px 7.75px;
    background-position: 89% center;
}
                           /* Основное меню */
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    align-content: space-around;

}
.menu-grid-title {             /* Подпись к картинке */
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #1B2A49;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}
.menu-grid-price {          /* Цена под картинкой */
    font-weight: 700;
    font-size: 20px;
    color: #979797;
    text-align: center;
}
.menu-grid-btn {           /* Кнопка целиком */
    background: #FBB731;
    border-radius: 5px;
    border: none;
    padding: 10px 33px;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    align-items:center;
    justify-content: center;
    gap: 9px;
    transition: 0.2s;
}
.menu-grid-btn:hover {
    background-color: #F37335;
    cursor: pointer;
}
.menu-grid-text {         /* Слово КУПИТЬ */
    color: #1E2F40;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;    
}


                                      /* Дополнительное меню */

.dop-menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
}                                    
.dop-menu-title {                        /* Заголовок доп. меню  */
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
}
    .banner-text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #FAF9F9;
    line-height: 23px;
    margin-bottom: 35px;
    margin-top: 0;
    max-width: 310px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
body {
    font-family: 'Nunito Sans', sans-serif;
}
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
.dop-menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.dop-menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 430px;
}
.dop-menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    align-content: space-around;
}
.dop-menu-grid-title {                /* Подпись к картинке */
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #1B2A49;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
}
.dop-menu-grid-price {                    /* Цена под картинкой */
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #979797;
    text-align: center;
}
.dop-menu-grid-btn {                     /* Кнопка целиком */
    background-color: #FBB731;
    border-radius: 5px; /* Скругляем уголки */
    width: 152px;
    height: 37px;
    border: 0;   
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.dop-menu-grid-btn:hover {
    background-color: #F37335 ;
    cursor: pointer;
}

.dop-menu-grid-text {         /* Слово КУПИТЬ */
    color: #1E2F40;
    text-transform: uppercase;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    margin-left: 5px;
}
                                 /* ПОДВАЛ */
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 130px;
}
.footer-box {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}
.footer-logo {
    width: 63px;
    height: 56px;
}

.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.5;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    line-height: 24px;
    list-style-type: none;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;

}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    margin-top: 0;
}
.footer-list-tel li {
    margin-bottom: 12px;
}
.footer-list-tel a  {
    font-size: 20px;
    color: #FBB731;
    font-weight: 900;
}
.footer-list-tel a:hover {
    color: #DEDEDE;
}
.footer-list {
    padding-left: 0;
}
.button-up {
    background-color: #FBB731;
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    transition: 1s;
}
.button-up:hover {
    background-color: #F37335;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}
               /* Style INDEX */ 
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
    display: block;
    box-sizing: border-box;
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.content {
    color: #FAF9F9;
    padding-top: 170px;
    padding-bottom: 170px;
    margin-left: 40px;
}
.content-title{
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 120px;
    margin-bottom: 40px;
    margin-top: 0;
    margin-bottom: 0;
}
.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}
.content-link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%; 
}
.visual-bg {
    width: 200px;
    height: 100%;
    margin-left: 115px;
    display: block;
    vertical-align: top;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.img-div {
    min-width: 600px ;
    min-height: 590px;
    padding: 270px 10px 10px 10px;
    position: absolute;
    margin-top: 10px;
}
.main img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.promo {
    padding-top: 186px;
    padding-bottom: 46px;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 3px;
    margin-top: 0;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}

    /*Modal*/
.burger {                /*Меню из трех полосок - бургер*/
    background-image: url(../images/header-burger-logo.svg);
    height: 22px;
    width: 34px;
    border: none;
    cursor: pointer;
    background-size: contain;
    background-color: transparent; 
}
.burger-close {       /*Крестик закрывающий окно*/
    background-image: url(../images/close.svg);
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 22px;
    height: 22px;
    border: none;
    }
#modal {       /*Окно с меню*/
    background-color: #FFF8DC;
    max-width: 444px;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0;
    top: -400px;
    margin: 0 auto;
    padding: 31px 30px;
    transition: 0.5s;
    box-sizing: border-box;
    }

                               /*Меню в окне*/
.header-nav-modal {        
    flex-direction: column;
    max-width: 246px;
    align-items: center;
    margin: 0 auto;
    list-style-type: none;
    line-height: 30px;
    margin: 0 auto;
    padding: 0;
    }
    .header-nav-modal  a{        
    font-weight: 600;
    font-size: 20px;
    color: #443737; 
    text-decoration: none;
    }
.header-nav-modal a:hover{
    color: #FFC725;
    }
.header-nav-modal a.active::after{
    content: '';
    width: 61px;
    height: 3px;
    border-radius: 1.5px;
    display: block;
    margin-left: auto;
    margin-right: auto 
    }
.header-nav-modal a.active::after {
    background: #FFC725;
    }

/*Responsive*/

@media (max-width: 1100px) {

    .img-div {
        height: 60vw;
    }
    .main img {
        height: 100%;
    }
    .content-text {
     font-size: 2vmin;
     width: 32vmax;
    }
}
@media (min-width: 1001px) {                     /*Скрываем новое меню с телефонами сбоку, когда размер больше 1001px */
    .footer-list + .footer-list-tel {
        display: none;
    }
}
@media (max-width: 1000px) {
    .content-title {
    font-size: 11vw;
    max-width: 70vw;
    }
    .content-title span{
    font-size: 3vw;
    width: 43vw;
    }
    .header-logo {
        width: 150px;
        height: 48px;
        background-size: contain;
    }
    .header-nav {
        gap: 22px;
    }
    .header-item {
        flex-basis: 75.5%;
    }
    .banner-box {
        background-position: -80px center;
        padding: 100px 40px 120px;
    }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 15px;
        margin-bottom: 7px;
    }
    .dop-menu {
      overflow: hidden;
      height: 662px;
      margin-bottom: 0px;
    }
    .dop-menu .dop-menu-grid {
     display: flex;
     width: auto;
     overflow-x: scroll;
     overflow-y: hidden;
     padding-bottom: 60px;
    }
    .dop-menu-grid-cover {
     height: 320px;
    }
    .dop-menu .dop-menu-grid-item {
     flex: 0 0 40vw;
    }

    .footer-list + .footer-list-tel {             /*Новое меню с телефонами внизу футера появляется, когда размер <1000*/
        display: block;
    }
    .footer-tel {                                 /*Старое меню с телефонами сюоку скрывается, когда размер <1000*/
     display: none;
    }
    .promo {
        padding-top: 90px
    }
    .footer {
        margin-top: 132px;
    }
}
@media (max-width: 980px) {
.promo-left {
    padding-top: 72px;
    padding-left: 32px;
    padding-bottom: 50px;
    }
    .promo-right {
    padding: 60px 0 60px 30px;
    }
}
@media (max-width: 930px) {
    .visual-bg {
    display: none;
    }
    .img-div {
    display: none;
    }
    .content-text {
    font-size: 3vmin;
    width: 77vw;
    }
}
@media (min-width: 766px) {                    /*Скрываем  меню-бургер, когда ширина больше 765px */
    .header-burger {
        display: none; 
    }
}
@media (max-width: 765px) {
    .dop-menu .container {
         padding-right: 0;
     }
     .button-up.visible {
         display: none;
     }
     .header-nav {
         display: none;
     }
     .header {
         gap: 21px;
     }
    .content-link {
        margin-left: 10px;
    }
   .footer-item h2 {
    font-size: 17px
    }
    .img-div {
        display: none;
    }
    .content-title {
        line-height: 1.4;
    }
    .content {
    padding-top: 110px;
    padding-bottom: 140px;
    } 
    .banner-box {
        margin-top: 75px;
    }  
    .menu-header {
        margin-bottom: 24px;
    }
    .dop-menu-header {
    margin-top: 21px;
    }
    .footer {
    margin-top: 100px;
    }
}
 @media (max-width:567px) {
    .promo {
        padding-top: 46px;
    }
    .menu-grid {
        gap: 25px 50px;
     }
    .heder {
        padding-top: 19px;
        padding-bottom: 19px;
     }
    .header-logo {
        width: 116px;
        height: 37px;  
     }
    .dop-menu .dop-menu-grid-item {
        flex: 0 0 38vw;
    }
    .dop-menu .dop-menu-grid-cover {
        height: 56vw;
    }
    .dop-menu .dop-menu-grid-cover img {
        height: 100%;
    }
    .dop-menu {
          height: 121vw;
    }
    .dop-menu .dop-menu-grid {
        padding-bottom: 34vw;
    }
    .title {
        font-size: 38px;
    }
    .breadcrumbs {
        font-size: 14px;
    }
    .description {
        font-size: 12px;
    }
    .bg {
        padding: 55px 0;
    }
    .banner-box {
        background-position: 17% center;
        padding: 35px 24px 54px;
        margin-bottom: 40px;
        margin-top: 37px;
    }
    .menu-title {
        font-size: 27px;
        margin-right: 24px;
    }
    .menu-header {
        margin-bottom: 30px;
    }
    .menu-select {
        font-size: 12px;
        flex-basis: 136px;
        padding: 13px 24px 13px 15px;
        background-position: 91%;
        background-color: #fff;
    }
    .menu-grid-title {
        font-size: 15px;
        margin-bottom: 7px;
    }
    .dop-menu-grid-title {
        font-size: 15px;
        margin-bottom: 7px;
    }
    .menu-grid-price {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .banner-text {
        margin-bottom: 30px;
    }
    .menu-grid-cover img {
        height: 100%;
    }
    .menu-grid-cover {
        height: 56vw;
    }
    .menu-grid {
        gap: 24px 10px;
        margin-bottom: 40px;
    }
    .dop-menu-title {
        font-size: 27px;
        margin-top: 10px;
    }
    .dop-menu-grid-price {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .footer-box {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas:
        "logo tel" "link link" "info info";
        gap: 0;
    }
    .item:nth-child(1) {
    grid-area: logo;
    }
   .footer-item:nth-child(2) {
       grid-area: link;
       margin-top: 25px;
    }
    .footer-item:nth-child(3) {
        grid-area: info;
    }
    .footer-tel:nth-child(4) {
        grid-area: tel;
        text-align: right;
    }
    .footer {
        padding-top: 48px;
        padding-bottom: 33px;
        margin-top: 0;
     }
     .footer-list + .footer-list-tel {
         display: none;
     }
     .footer-tel {
         display: block;
     }
    .footer-item h2 {
        font-size: 18px ;
        margin-bottom:  24px;
    }
    .menu-select {
        flex-basis: 136px;
    } 
    .main img {
        display: none;
    }
    .visual {
        display: block;
    }
    .wrapper {
        flex-direction: column;
        display: block;
    }
    .promo-left {
        margin-bottom: 40px;
    }
    .content-text {
        font-size: 4vmin;
    }
    .content {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
 @media (max-width:360px) {
    .header-logo {
        width: 116px;
        height: 37px;
        background-size: contain;
    }
    .bg {
        background-position: 25% center;
    }
      .footer {
        margin-top: 30px;
    }
    .menu-grid-text {
        font-size: 12px;
    }
    .menu-grid-btn {
        gap: 3px;
        padding: 10px 25px;
    }
    .dop-menu-grid-text {
    font-size: 12px;
    }
    .dop-menu-grid {
    gap: 50px 8px;
    }
}
@media (max-width:320px) {
    .banner-box {
        background-position: 25% center;
        }
    .container {
        max-width: 319px;
        }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 5px;
        margin-bottom: 15px;
    }

    
} 